 <div class="container mt-5 py-5">
    
        <form (submit)="searchMovies()">

          <div class="user-input-wrp mx-auto d-block">
  <br/>
  <input type="text" class="inputText" [(ngModel)]="searchStr" name="searchStr" required/>
  <br/>
  <span class="floating-label">search now</span>
              <button class="btn btn-primary mx-auto d-block">Find</button>
</div>    
            

         </form>
    </div>  
    
                <div *ngFor="let movie of searchRes">

    <div class="row mt-5">
    <div class="card col-md-9 mt-5 px-2 mx-auto" *ngFor="let movie of searchRes" style="width: 18rem;">
     <img *ngIf="movie.poster_path" class="card-img-top mx-auto d-block mt-2" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
  <div class="card-body text-center">
    <h5 class="card-title">{{movie.title}}</h5>
    <p class="card-text">On Theater &nbsp;{{movie.release_date}}</p>
    <p class="card-text">Sneak peak:&nbsp;{{movie.overview}}</p>
    <p class="card-text">Rating:&nbsp;{{movie.vote_average}}/10</p>
  </div>
  <hr>
</div>
</div>



